<div class="container my-3">
  <div class="card bg-light">
    <div class="card-header">
      Add Customer
    </div>
    <div class="card-body">

      <form  #customerForm="ngForm" (ngSubmit)="SaveCustomer(customerForm)">

        <div class="mb-3">
          <h4>Customer Info</h4>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="customerName">Customer Name</label>
            <input type="text" class="form-control" name="customerName"   [(ngModel)]="customer.Name"
            placeholder="Customer Name">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone</label>
            <input type="number" class="form-control"
            name="customerPhone"
            [(ngModel)]="customer.Phone"
             id="inputPhone" placeholder="Phone Number">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" 
          name="customerAddress"
            [(ngModel)]="customer.Address"
          id="inputAddress" placeholder="#007 Main St">
        </div>
        <div class="form-group">
          <div>
            <label>Gender</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="inputMale" value="Male" [(ngModel)]="customer.Gender" name="customrGender" class="custom-control-input">
            <label class="custom-control-label" for="inputMale">Male</label>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" id="inputFemale" value="Female" [(ngModel)]="customer.Gender" name="customrGender" class="custom-control-input">
            <label class="custom-control-label" for="inputFemale">Female</label>
          </div>
        </div>





        <div class="mb-3">
          <h4>Mesurmentes</h4>
        </div>

        <!--  Blouse -->

        <div class="h6">
         <label> Blouse </label>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">Bust</label>
            <input type="text" class="form-control"
            name="Bust"
            [(ngModel)]="customer.BlouseMesurement.Bust">
         
          </div>
          <div class="form-group col">
            <label for="inputCity">BlouseLength</label>
            <input type="text"
             class="form-control"
             name="BlouseLength"
             [(ngModel)]="customer.BlouseMesurement.BlouseLength"
             >
          </div>
          <div class="form-group col">
            <label for="inputCity">AroundAboveWaist</label>
            <input type="text" class="form-control"
            name="AroundAboveWaist"
            [(ngModel)]="customer.BlouseMesurement.AroundAboveWaist">
          </div>
          <div class="form-group col">
            <label for="inputZip">FrontNeckDepth</label>
            <input type="text" class="form-control" 
             name="FrontNeckDepth"
            [(ngModel)]="customer.BlouseMesurement.FrontNeckDepth">
          </div>
          <div class="form-group col">
            <label for="inputCity">BackNeckDepth</label>
            <input type="text" class="form-control"
            name="BackNeckDepth"
            [(ngModel)]="customer.BlouseMesurement.BackNeckDepth">
          </div>
          <div class="form-group col">
            <label for="inputCity">AroundArm</label>
            <input type="text" class="form-control" 
            name="AroundArm"
            [(ngModel)]="customer.BlouseMesurement.AroundArm"
            >
          </div>
          <div class="form-group col">
            <label for="inputZip">SleeveLength</label>
            <input type="text" class="form-control" 
            name="SleeveLength"
            [(ngModel)]="customer.BlouseMesurement.SleeveLength">
          </div>
         <!--  <div class="form-group col">
            <label for="inputCity">M8</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M9</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M10</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M11</label>
            <input type="text" class="form-control" id="inputCity">
          </div> -->



        </div>


        <!--  Top 

        <div class="h6">
         
          <label>
            Top</label>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">M1</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M2</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M3</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M4</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M5</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M6</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M7</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M8</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M9</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M10</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M11</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M12</label>
            <input type="text" class="form-control" id="inputCity">
          </div>

        </div>


          Skirt Blouse 

        <div class="h6">
          <label>
            Skirt Blouse</label>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label for="inputCity">M1</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M2</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M3</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M4</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M5</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M6</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M7</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M8</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputCity">M9</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col">
            <label for="inputZip">M10</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="form-group col">
            <label for="inputCity">M11</label>
            <input type="text" class="form-control" id="inputCity">
          </div>


        </div>
       
       -->
       
        <div class="float-right clearfix">
          <button type="submit" class="btn btn-primary">Save Customer</button>
        </div>



      </form>
    </div>

  </div>







</div>