<div class="container my-3" [@fadeInAnimation]="exe">
  <div class="row justify-content-md-center">
    <div class="col-md-4 col-md-offset-4">
          <h4>
            {{ id == 0 ?'Add Customer':'Edit Customer'}}
          </h4>
   </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <form #customerForm="ngForm" (ngSubmit)="!disableSaveBtn?SaveCustomer(customerForm):null">
        <div class="mb-1">
          <h5>Customer Info</h5>
        </div>
      <div class="shadow-sm mb-3 p-1 bg-white rounded">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="customerName">Customer Name
              <span class="text-danger">*</span>
            </label>
            <input type="text" class="form-control" name="customerName"
             [(ngModel)]="customer.Name" placeholder="Customer Name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPhone">Phone
              <span class="text-danger">*</span>
            </label>
            <input type="number" class="form-control" name="customerPhone" 
            [(ngModel)]="customer.Phone" id="inputPhone" placeholder="Phone Number" required>
          </div>
        </div>
      </div>
       
        <!--  Blouse -->
        <div class="shadow-sm mb-3 p-1 bg-white rounded">
          <div class="h6">
            <label> Blouse Mesurmentes</label>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="BLength">Length</label>
              <input type="number" class="form-control" id="BLength" name="BLength" 
              [(ngModel)]="customer.BlouseMesurement.BlouseLength"
              min="1" required>

            </div>
            <div class="form-group col">
              <label for="BShoulder">Shoulder</label>
              <input type="number" class="form-control" name="BShoulder"
               [(ngModel)]="customer.BlouseMesurement.Shoulder" required>
            </div>
            <div class="form-group col">
              <label for="BHandLength">HandLength</label>
              <input type="number" class="form-control" name="BHandLength"
               [(ngModel)]="customer.BlouseMesurement.HandLength" required>
            </div>
            <div class="form-group col">
              <label for="BHandBottomLoose">H.B.Loose</label>
              <input type="number" class="form-control" name="BHandBottomLoose"
               [(ngModel)]="customer.BlouseMesurement.HandBottomLoose" required>
            </div>
            <div class="form-group col">
              <label for="BArmole">Armole</label>
              <input type="number" class="form-control" name="BArmole" 
              [(ngModel)]="customer.BlouseMesurement.Armole" required>
            </div>
            <div class="form-group col">
              <label for="BFrontNeck">FrontNeck</label>
              <input type="number" class="form-control" name="BFrontNeck"
               [(ngModel)]="customer.BlouseMesurement.FrontNeck" required>
            </div>
            <div class="form-group col">
              <label for="BBackNeck">BackNeck</label>
              <input type="number" class="form-control" name="BBackNeck"
               [(ngModel)]="customer.BlouseMesurement.BackNeck" required>
            </div>
            <div class="form-group col">
              <label for="BChest">Chest</label>
              <input type="number" class="form-control" name="BChest"
               [(ngModel)]="customer.BlouseMesurement.Chest" required>
            </div>
            <div class="form-group col">
              <label for="BUpperChest">UpperChest</label>
              <input type="number" class="form-control" name="BUpperChest"
               [(ngModel)]="customer.BlouseMesurement.UpperChest" required>
            </div>
            <div class="form-group col">
              <label for="BWaist">Waist</label>
              <input type="number" class="form-control" name="BWaist"
               [(ngModel)]="customer.BlouseMesurement.Waist" required>
            </div>
            <div class="form-group col">
              <label for="FrontPoint">FrontPoint</label>
              <input type="number" class="form-control" name="FrontPoint"
               [(ngModel)]="customer.BlouseMesurement.FrontPoint" required>
            </div>



          </div>
        </div>
        <!--  Dress -->
        <div class="shadow-sm mb-3 p-1 bg-white rounded">
          <div class="h6">
            <label> Dress Mesurmentes</label>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="DTopLength">Length</label>
              <input type="number" class="form-control" name="DTopLength"
               [(ngModel)]="customer.DressMesurement.TopLength" required>

            </div>
            <div class="form-group col">
              <label for="DShoulder">Shoulder</label>
              <input type="number" class="form-control" name="DShoulder"
               [(ngModel)]="customer.DressMesurement.Shoulder" required>
            </div>
            <div class="form-group col">
              <label for="DHandLength">HandLength</label>
              <input type="number" class="form-control" name="DHandLength"
               [(ngModel)]="customer.DressMesurement.HandLength" required>
            </div>
            <div class="form-group col">
              <label for="DBHandBottomLoose">H.B.Loose</label>
              <input type="number" class="form-control" name="DBHandBottomLoose"
               [(ngModel)]="customer.DressMesurement.HandBottomLoose" required>
            </div>
            <div class="form-group col">
              <label for="DArmole">Armole</label>
              <input type="number" class="form-control" name="DArmole"
               [(ngModel)]="customer.DressMesurement.Armole" required>
            </div>
            <div class="form-group col">
              <label for="DFrontNeck">FrontNeck</label>
              <input type="number" class="form-control" name="DFrontNeck"
               [(ngModel)]="customer.DressMesurement.FrontNeck" required>
            </div>
            <div class="form-group col">
              <label for="DBackNeck">BackNeck</label>
              <input type="number" class="form-control" name="DBackNeck"
               [(ngModel)]="customer.DressMesurement.BackNeck" required>
            </div>
            <div class="form-group col">
              <label for="DChest">Chest</label>
              <input type="number" class="form-control" name="DChest" 
              [(ngModel)]="customer.DressMesurement.Chest" required>
            </div>
            <div class="form-group col">
              <label for="DUpperChest">UpperChest</label>
              <input type="number" class="form-control" name="DUpperChest"
               [(ngModel)]="customer.DressMesurement.UpperChest" required>
            </div>
            <div class="form-group col">
              <label for="DWaist">Waist</label>
              <input type="number" class="form-control" name="DWaist"
               [(ngModel)]="customer.DressMesurement.Waist" required>
            </div>
            <div class="form-group col">
              <label for="Hip">Hip</label>
              <input type="number" class="form-control" name="Hip" 
              [(ngModel)]="customer.DressMesurement.Hip" required>
            </div>
            <div class="form-group col">
              <label for="Slit">Slit</label>
              <input type="number" class="form-control" name="Slit"
               [(ngModel)]="customer.DressMesurement.Slit" required>
            </div>


          </div>
        </div>
        <!--  Bottom -->
        <div class="shadow-sm mb-3 p-1 bg-white rounded">
          <div class="h6">
            <label> Bottom Mesurmentes</label>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="BottomLength">Length</label>
              <input type="number" class="form-control" name="BottomLength"
               [(ngModel)]="customer.BottomMesurement.BottomLength" required>

            </div>
            <div class="form-group col">
              <label for="BottomLoose">Loose</label>
              <input type="number" class="form-control" name="BottomLoose"
               [(ngModel)]="customer.BottomMesurement.BottomLoose" required>
            </div>

          </div>
        </div>

        <div class="float-right clearfix">
          <span class="text-info mr-3">All fields are required</span>
          <button type="submit" [disabled]="!customerForm.valid"  class="btn btn-primary">Save Customer</button>
        </div>


       <!--  <button type="button" class="btn btn-primary mr-3" (click)="GetCustomers()">Customers</button>
 -->
      </form>
    </div>
  </div>

</div>