<div class="container mt-3">
  <div class="row justify-content-md-center">

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Create Order</h4>
      <form  [formGroup]="customerForm"  novalidate>
        <div class="row">
          <div class="col-md-4 mb-3">
         
            <label for="CustomerCode font-weight-bold">Customer Code</label>
            <input type="text" class="form-control"
             id="CustomerCode" formControlName="customerCode" readonly>
          </div>
          <div class="col-md-4 mb-3">
            <label for="CustomerName">Customer Name</label>
            <input type="text" class="form-control"
            formControlName="customerName" readonly>
          </div>
          <div class="col-md-4 mb-3">
            <label for="CustomerPhone">Phone</label>
            <input type="text" class="form-control"
             formControlName="customerPhone" readonly>
          </div>
        </div>
        <div formArrayName="items"
        *ngFor="let item of items.controls;let i=index" >
        <div class="row shadow-sm mb-1 bg-white rounded" [formGroupName]="i">
            <div class="col-md-3 mb-3">
              <label attr.for="{{'itemType' + i}}">Item typy</label>
              <select class="custom-select d-block w-100" 
              formControlName="itemType" (change)="DisplayTotalAmount(i)" id="{{'itemType' + i}}">
              
                <option value="{{item.Name}}"  *ngFor="let item of listItems">{{item.Name}}</option>
              </select>

            </div>
            <div class="col-md-3 mb-3">
              <label attr.for="{{'Qty' + i}}">Qty</label>
              <input type="text" class="form-control" 
              (change)="DisplayTotalAmount(i)"
              formControlName="itemQty"   id="{{'itemQty' + i }}">
              <span class="alert-danger" *ngIf="!customerForm.get('items').controls[i].get('itemQty').valid" >
                min 1 and max 10
              </span>
            </div>
            <div class="col-md-2 mb-3">
              <label attr.for="{{'amount' + i}}">Amount</label>
              <input type="text" class="form-control"  (change)="DisplayTotalAmount(i)"
              formControlName="amount"   id="{{'amount' + i }}">

            </div>
            <div class="col-md-2 mb-3">
              <label attr.for="{{'totalAmount' + i}}">Total Amount</label>
              <input type="text" class="form-control" 
              id="{{'totalAmount' + i}}" formControlName="totalAmount" readonly>
            </div>
            <div class="col-md-2 mb-3">
              <br>
                <button class="btn btn-outline-danger btn-sm" (click)="deleteItem(i)">X</button>
            </div>
        </div>
        
      </div>
      <button class="btn btn-outline-primary btn-sm" (click)="AddItems()">Add Item</button>
      

      <div class="row">
          <div class="col-md-4 mb-3">
            <label for="AdvanceAmount">Advance Paid</label>
            <input type="text" class="form-control" (change)="UpdateBalanceAmt()"
             id="AdvanceAmount" formControlName="advancePaid">
          </div>
          <div class="col-md-4 mb-3">
            <label for="BalanceAmount">Balance Amount</label>
            <input type="text" class="form-control"
            formControlName="balanceAmount" readonly>
          </div>
          <div class="col-md-4 mb-3">
            <label for="GrandTotal">Grand Total</label>
            <input type="text" class="form-control"
             formControlName="grandTotal" readonly>
          </div>
        </div>
<div class="row">
<div class="col-md-4 mb-3">
  
    <label for="delivaryDate">Delivary Date </label>

    <div class="input-group mb-3">
      <input matInput [min]="minDate" class="form-control"
       [matDatepicker]="picker" formControlName="delivaryDate" readonly>
     <div class="input-group-append">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      </div> 
     <mat-datepicker #picker disabled="false"></mat-datepicker>
  </div>
       
  

    
</div>
</div>

       
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block"
        (click)="placeOrder()"
        [disabled]="!customerForm.valid || !customerForm.dirty"
        type="submit">Place Order</button>
      </form>
    </div>
   
  </div>
 

  



</div>